* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
  background-color: #20201c;
  font-family: sans-serif;
}

.error-msg {
  position: fixed;
  top: -100%;
  left: 0;
  width: auto;
  padding: 20px 30px;
  background-color: #f5dada;
  color: #ff0000;
  border-radius: 0 0 6px 6px;
  font-weight: 600;
  box-shadow: -2px -9px 10px rgba(235, 6, 6, 0.4),
    2px 9px 10px rgba(235, 6, 6, 0.4);

  transition: all 0.5s linear;
}

.edit-task-container {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(71, 71, 71, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}

.edit-task-container h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.edit-task-container form {
  width: 60%;
}

.close-modal {
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 50px;
  color: #ff0000;
  cursor: pointer;
}

.close-modal:hover {
  font-size: 55px;
  transition: all 0.2 ease-in-out;
}

.container {
  width: 80%;
  min-height: 80vh;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: -2px -9px 20px rgba(0, 0, 0, 0.6), 2px 9px 20px rgba(0, 0, 0, 0.6);
  padding: 30px 5%;
  overflow-y: auto;
}

.title {
  color: #0caf4b;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-group {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

.form-group input {
  padding: 10px 25px;
  flex: 1;
  outline: none;
  border: 2px solid #0caf4b;
  background-color: #d1f1dd;
  color: #20201c;
  font-size: 20px;
  border-radius: 30px 0 0 30px;
  transition: all 0.2s ease-in-out;
}

.form-group input:focus {
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
}

.form-group button {
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  background-color: #0caf4b;
  color: #fff;

  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0c9b43;
  transition: background-color 0.2s linear;
}

.list-container {
  margin-top: 30px;
  padding: 0 5%;
}

.list-container h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}

.list-container ul li {
  list-style: none;
  color: #fff;
  /* background-color: #0caf4b; */
  padding: 10px 40px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 4px 0px 2px rgba(71, 71, 71, 0.6),
    -4px 0px 2px rgba(71, 71, 71, 0.6), 0px 4px 2px rgba(71, 71, 71, 0.6),
    0px -4px 2px rgba(71, 71, 71, 0.6);
}

.list-container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit-task,
.delete-task {
  padding: 6px 25px;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 2px 3px 2px rgba(71, 71, 71, 0.6),
    -2px -3px 2px rgba(71, 71, 71, 0.6), -2px 3px 2px rgba(71, 71, 71, 0.4),
    2px -3px 2px rgba(71, 71, 71, 0.6);
  transition: padding 0.2s linear;
}

.edit-task {
  background-color: #0753b6fd;
}
.delete-task {
  background-color: #ff0000;
}

.edit-task:hover,
.delete-task:hover {
  padding: 6px 27px;
}

footer {
  padding: 20px 10%;
  color: #5a5e5b;
  font-size: 12px;
  font-weight: 600;
}

footer a {
  color: #5a5e5b;
}
